/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


ion-header{
  background: #267871!important;
}

ion-toolbar{
  --background: #267871!important;
}


.loadingClass{
    outline: none;
  .loading-wrapper{
        outline: none;
      background-color: transparent!important;
      backdrop-filter:none!important;
      box-shadow: none!important;
      border: none!important;
      img{
          width: 120px;
          height: 120px;
          object-fit: contain;
      }
  }
}

.redToast{
    outline: none;
    --background: #bf272d !important;        
    text-align: center !important;
    --border-radius: 3px;
    --color:#fff;
    --button-color: #fff;
    word-break: break-word;
}

.greenToast{
  outline: none;
  --background: green !important;        
  text-align: center !important;
  --border-radius: 3px;
  --color:#fff;
  --button-color: #fff;
  word-break: break-word;
}

ion-popover{
  .popover-wrapper{
    .popover-content{
      .select-interface-option{
        --background: white;
        color: black;
      }
    }
  }
}

ion-input.ng-invalid.ng-touched, ion-select.ng-invalid.ng-touched, ngx-select-dropdown.ng-invalid.ng-touched{
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}