
ion-content{
  --background:white;
}

.headerTittles, .contentList{
  border-bottom: 1px solid gray;
  color: black;
  text-align: center;
}

.itemSelect{
  --background:white;
  border-bottom: 1px solid gray;
  ion-select, ion-label{
    color:black;
  }
}

.contentList{
  ion-col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

ion-searchbar{
  --background: white;
  color:black;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}